<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not teveclub</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
    <ul>
        <li><a href="">Information</a></li>
    </ul>
    <img src="img/greenfox.png" alt="green fox">
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <h2>Known tricks</h2>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</div>
</body>
</html>