<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add todo:</h1>

<form th:action="'/todo/' + ${id} + '/edit'" method="post" th:object="${todo}">
    <label for="title">Todo: </label>
    <input id="title" type="text" name="title" th:value="${todo.getTitle()}">
    <label for="done">Done: </label>
    <input id="done" type="checkbox" name="done" th:checked="${todo.isDone()}">
    <label for="urgent">Urgent: </label>
    <input id="urgent" type="checkbox" name="urgent" th:checked="${todo.isUrgent()}">
    <input type="submit" value="Update todo">
</form>
</body>
</html>